<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title> Mid-term project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.js"> </script>
    <script src="/main.js"> </script>
    <script src="/factory.recipes.js"> </script>
  </head>
  <body ng-controller="mainController as main" >
    <!--Navbar -->
    <ul id ="nav"class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#"><b>HOME</b></a></li>
  <li role="presentation"><a href="#"><b>RECIPES</b></a></li>
  <li role="presentation"><a href="#"><b>FUN FOOD FACTS</b></a></li>
</ul>
    <div class="container">
    <div class="photo">
      
    <h1 class="text-center font-big"  >
      {{main.greeting}}
    </h1> 
      <div class="content">
      </div>
       <div id="search" class="text-center">
      
        <h2 <em><b> Enter your ingredients:</b></em>  <input placeholder="lets get started..." ng-model="main.input">
     <input type="button" ng-click="main.NewIngredients()" value="Add"> <br>
      </h2>
         <div class="entered-list"
      <ol ng-repeat="ingredients in main.AddIngredients">
      <b>{{ingredients}}</b>
        <span ng-click="main.RemoveFromAddIngredients(ingredients)" class="glyphicon glyphicon-remove"></span>
     </ol>
    </div>
    
    <div  class="container">

  <div class="row" class="text-left">
      <div ng-repeat="recipe in main.showRecipes| filter:main.checkIngredients" class="col-xs-6">
       <div class="text-center">
         <button type="button"  id="moveButton" type="button" ng-click="main.showRecipe(recipe)" ng-show="main.checkIngredients(recipe)" > <b>TaDa! You have a Match:</b></button>
        </div>
     </div>
  </div>
    </div>
          </div>
        </div>
      </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><b> Here is the recipe:</b></h4>
      </div>
      <div class="modal-body">
      <b>Recipe Name:</b>
      <li>{{main.activeRecipe.Name}}:</li></br>
      <b>List of Ingredients:</b>
      <li ng-Repeat="listofing in main.activeRecipe.Ingredients">{{listofing}}</li></br>
      <b> Directions:</b>
      <Div ng-Repeat="step in main.activeRecipe.Directions">{{step}}</Div> </br></br>
      <b> You can eat this for:</b>
      <li>{{main.activeRecipe.Type}}</li></br>
      <b>Total time needed:</b>
      <li>{{main.activeRecipe.Ready}}</li></br>
      <img ng-src= "{{main.activeRecipe.Img}}">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>